<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>336461978699-t1d1k849i4updbck2d07j838caml068f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.336461978699-t1d1k849i4updbck2d07j838caml068f</string>
	<key>API_KEY</key>
	<string>AIzaSyCJL2VvBqhOV69sF3aEM9NyMBXs-7gWBws</string>
	<key>GCM_SENDER_ID</key>
	<string>336461978699</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nl.versluis.pushnotificationssample</string>
	<key>PROJECT_ID</key>
	<string>pushnotificationssample-987fb</string>
	<key>STORAGE_BUCKET</key>
	<string>pushnotificationssample-987fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:336461978699:ios:227ab65c1c54fe531c01ce</string>
</dict>
</plist>